html,body{
	height: 100%;
	width: 100%;
}
.panel{
	height: 100%;
	margin: 0;
}

/* Home */
#home{
	background: blue;
	color: white;
	padding-top: 18%;

}
#home h3{
	margin: 0;
}

/* About */
#about{
	padding-top: 12%;
}

/* Portfolio */
#portfolio h3{
	color: white;
	text-align: center;
	padding-bottom: 20px;
}
#portfolio{
	padding-top: 4%;
	padding-bottom: 4%;
}
#portfolio a{
	color: #0d47a1;
}

/* Contact */
#contact{
	padding-top: 5%;
}