html, body {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	overflow:hidden;
}

body { 
	width: 400%; 
} 

.panel {
	width: 25%;
	height: 100%;
	float: left; 
	overflow-y: scroll!important;
	overflow-x:hidden;
} 

#nav {
	width: 100%;
	margin:0 auto;
	padding:0;
  display:inline;
  text-align: center;
  list-style: none;
	z-index:5;
	position: fixed;
	background: #f5f5f5;
} 

#nav li{
	padding:.5%;
	display: inline-block;
  text-align:center;
} 

#nav a{
	text-align:center;
}

/* Typography */
body{
	font-weight:300;
	font-family: 'Lato','Calibri', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', 'Calibri', sans-serif;
	font-size:20px;
	font-weight: 300;
	text-align:center;
	color: #000;
	text-decoration: none;
}
h1{
	font-size:55px;
}
h2{
	font-size:34px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:20px;
}
a:hover{
	text-decoration:none;
	color:#00bbff;
}
hr{
	font-weight: 700;
	height:20px;
	width:50%;
}
input, textarea{
	font-size:16px !important;
}
#nav{
	visibility: hidden;
}

/* Home */
#home{
	background: #00bbff;
	height: 100%;
}
#home h1{
	color:white;
}
/* About */


