
/* ========================================================
   0A.BASIC_STYLES-DESKTOP
=========================================================== */
html, body {
	height: 100%;
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background:#FFF;
	color:#7F8289;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	line-height:28px;
}
/* ========================================================
   0B.TYPOGRAPHY-DESKTOP
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	font-weight: 300; 
	line-height: 1.5em;
	text-align:center;
	vertical-align:middle;
	/*color:#FFF;*/
	color: #000;
	text-decoration: none;
}
h1{
	font-size:55px;
}
h2{
	font-size:34px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:20px;
}
hr{
	font-weight: 700;
	height:20px;
	width:50%;
}
input, textarea{
	font-size:16px !important;
}
/* =======================================================
   1.BASIC COMMON STYLES-DESKTOP
========================================================== */
.text-bold{
	font-weight: 400;
}
.text-bolder{
	font-weight: 700;
}
.text-opaque{
	opacity: 0.9;
}
.text-upper{
	text-transform:uppercase;
}
.text-bigger{
	font-size:40px;
}
.text-biggest{
	font-size:200px;
}
.text-center{
	margin:0 auto;
	text-align: center !important;
}
.text-left{
	text-align:left !important;
	margin: 0 auto;
}
.text-right{
	text-align:right;
}
.line-gray{
	border-top: 1px solid #404040;
}
.bg-red{
	background-color: rgb(237,45,58);
}
.bg-gray{
	background-color: rgb(244,244,244);
	transition:all 0.5s ease-in-out;
}
.bg-gray:hover{
	transition:all 0.5s ease-in-out;
	background-color: rgb(255,255,255);
}
.spacing-top{
	margin-top:10px;
}
.spacing-top-1{
	margin-top:1%;
}
.spacing-top-3{
	margin-top:3%;
}
.spacing-top-5{
	margin-top:5%;
}
.form-control{
	text-align: center;
	height:40px;
	font-size:28px;
}
.padding-3{
	margin-top: 3%;
}
.padding-10{
	margin-top: 25%;
}
.padding-20{
	margin-top: 20%;
}
.padding-1{
	padding-top: 1%;
}
.padding-all-5{
	padding:1%;
}
.margin-top-mobile{
	margin-top: 0px;
}
.margin-right-40{
	margin-right: 40px;
}
.form-control-half{
	width:80%;
	height:40px;
	font-size:20px;
}
.form-square{
	-webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}
.form-rounded-2{
	-webkit-border-radius: 2px !important;
	 -moz-border-radius: 2px !important;
		  border-radius: 2px !important;
}
.opacity-50{
	border-opacity:0.9;
}
.center-box{
	margin:0 auto;
}
.btn-gray{
	background-color: #232323!important;
	border-color:#232323!important;
	color:#FFF;
	text-align: middle;

}
.btn-red{
	background-color:rgb(237,45,58);
	border-color:rgb(237,45,58);
	color:#FFF;
}
.hr-80{
	width:80%;
}
.hr-60{
	width:60%;
}
.img-40{
	width:40%;
	height:40%;
}
.img-15{
	width:15%;
	height:15%;
}
.iframe-vid{
	margin:0 auto;
	text-align: right;
	width: 853px;
	height: 480px;
	border: none;
}
.img-mobile{
	width:80%;
	height:80%;
}
.mobile-hidden{
	display: block;
}
.desktop-hidden{
	display: hidden;
}
.text-small{
	font-size: 18px;
}
/* ========================================================
   ACTUAL STYLES
=========================================================== */
body{
	overflow: hidden;
	background: black;
}

.navbar{
	background:black;
}


.navbar .nav > li > a:hover {
    background-color: #000;
    color: #fff;
}

.container{
	position:relative;
	top:150px;
}

#wettLogo {
    width:50%;
    padding:10px;
    border: 5px solid white;   
    margin: 0 auto; 
    border-radius: 10px;
    -webkit-transition: border 0.05s linear, box-shadow 0.05s linear;
       -moz-transition: border 0.05s linear, box-shadow 0.05s linear;
            transition: border 0.05s linear, box-shadow 0.05s linear;
}

#wettLogo.active {
    border-color: #ffffff;
    -webkit-box-shadow: 0 0 80px #228DFF;
       -moz-box-shadow: 0 0 80px #228DFF;
            box-shadow: 0 0 80px #228DFF;
}

/*neeeeoooon*/
#logoText{
  text-decoration:none; 
 	font-family:Audiowide;;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#logoText.active{
	color:#ffffff;
  -webkit-animation: neon2 .5s ease-in-out infinite alternate;
  -moz-animation: neon2 .5s ease-in-out infinite alternate;
  animation: neon2 .5s ease-in-out infinite alternate;
}


#logoText{
	color:black;
	text-align:center;
}

.animate{
	-webkit-animation: neon2 2s ease-in-out infinite alternate;
  -moz-animation: neon2 2s ease-in-out infinite alternate;
  animation: neon2 2s ease-in-out infinite alternate;
}

/*glow for webkit*/
@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
/*glow*/

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}



